{% extends "main/base.html" %}

{% block content %}
  <table class="table table-hover">
    <thead>
    <tr>
      <th>ID</th>
      <th>Nome</th>
{#      <th>E-mail</th>#}
{#      <th>CPF</th>#}
{#      <th>Nascimento</th>#}
{#      <th>Telefone</th>#}
      <th>Endereço Residencial</th>
      <th>Endereço Comercial</th>
      <th>Horários</th>
    </tr>
    </thead>
    <tbody>

    {% for manager in managers %}
      <tr>
        <td>{{ manager.id }}</td>
        <td>{{ manager.first_name }} {{ manager.last_name }}</td>
{#        <td>{{ manager.email }}</td>#}
{#        <td>{{ manager.cpf }}</td>#}
{#        <td>{{ manager.birthday|date:"d/m/Y"}}</td>#}
{#        <td>{{ manager.phone }}</td>#}
        <td>{{ manager.home_address }}</td>
        <td>{{ manager.destination }}</td>
        <td>{{ manager.entry_time }} / {{ manager.exit_time }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>



{% endblock %}