{% extends "main/base.html" %}
{% load static %}
{% block custom_head %}
  <script src='https://api.mapbox.com/mapbox-gl-js/v1.3.2/mapbox-gl.js'></script>
  <link href='https://api.mapbox.com/mapbox-gl-js/v1.3.2/mapbox-gl.css' rel='stylesheet' />
{% endblock %}
{% block content %}

  <div class="row" style="margin-top: 10px">
    <div class="col-md-3 offset-md-9" align="right">
      <form action="{% url 'find-nearest-stops' %}">
        <button type="submit" class="btn btn-outline-dark" href="">Encontrar Embarque/Desembarque</button>
      </form>
    </div>
  </div>
  <div class="row" style="margin: 10px 0 10px 0">
    <div class="col-sm-12" align="center">
      <div id='map' style='width: 100%; height: 500px;'></div>
    </div>
  </div>
{% endblock %}

{% block custom_script %}
  <script>
    mapboxgl.accessToken = 'pk.eyJ1IjoiZm91eWVyIiwiYSI6ImNrMHdndHliaTE5eDQzYnF6Nmw1MGVveTIifQ.iiGt_7-EEPcR4OeHuuXasQ';
    var map = new mapboxgl.Map({
      container: 'map',
      style: 'mapbox://styles/fouyer/ck1b4ot0v07bb1ckixzd3y09c',
    });
    map.on('load', function () {
      map.addLayer({
        'id': 'stops',
        'type': 'circle',
        'source': {
          type: 'geojson',
          data: '{% static 'layers/passengers.json' %}'
        },
        'paint': {
          'circle-radius': {
            'base': 1.75,
            'stops': [[12, 2], [22, 180]]
          },
          'circle-color': [
            'match',
            ['get', 'type'],
            'destination', '#e55e5e',
            'origin', '#3bb2d0',
            '#ffffff'
          ]
        }
      });
    });

  </script>
{% endblock %}




