{% load static %}

<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<title>
Hermex
</title>

<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet" />
<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
{#<link href="{% static 'node_modules/bootstrap/dist/css/bootstrap.min.cssasdasd' %}" rel="stylesheet" >#}
{#<link href="{% static 'node_modules/@fortawesome/fontawesome-free/css/all.min.css' %}" rel="stylesheet" >#}
{#<link href="{% static 'node_modules/chart.js/dist/Chart.min.css' %}" rel="stylesheet" >#}
{#<link href="{% static 'node_modules/select2/dist/css/select2.min.css' %}" rel="stylesheet" >#}
{#<link href="{% static 'node_modules/sweetalert2/dist/sweetalert2.min.css' %}" rel="stylesheet" >#}
{#<link href="{% static 'node_modules/admin-lte/dist/css/adminlte.min.css' %}" rel="stylesheet" >#}
<link href="../../static/css/styles.css" rel="stylesheet" >