{% load static %}
{#<script  src="{%  static 'node_modules/jquery/dist/jquery.slim.min.js' %}"></script>#}
{#<script  src="{%  static 'node_modules/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>#}
{#<script  src="{%  static 'node_modules/@fortawesome/fontawesome-free/js/all.min.js' %}"></script>#}
{#<script  src="{%  static 'node_modules/chart.js/dist/Chart.bundle.min.js' %}"></script>#}
{#<script  src="{%  static 'node_modules/datatables.net/js/jquery.dataTables.min.js' %}"></script>#}
{#<script  src="{%  static 'node_modules/select2/dist/js/select2.full.min.js' %}"></script>#}
{#<script defer src="{%  static 'node_modules/sweetalert2/dist/sweetalert2.all.min.js' %}"></script>#}
<script src="{%  static 'node_modules/admin-lte/dist/js/adminlte.min.js' %}"></script>