{% load static %}
<script  src="{%  static 'assets/jquery/dist/jquery.slim.min.js' %}"></script>
<script  src="{%  static 'assets/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
<script  src="{%  static 'assets/@fortawesome/fontawesome-free/js/all.min.js' %}"></script>
<script  src="{%  static 'assets/chart.js/dist/Chart.bundle.min.js' %}"></script>
<script  src="{%  static 'assets/datatables.net/js/jquery.dataTables.min.js' %}"></script>
<script  src="{%  static 'assets/select2/dist/js/select2.full.min.js' %}"></script>
<script defer src="{%  static 'assets/sweetalert2/dist/sweetalert2.all.min.js' %}"></script>
<script src="{%  static 'assets/admin-lte/dist/js/adminlte.min.js' %}"></script>